/* Global Styles */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 36px;
    color: #2d98da;
}

header p {
    font-size: 18px;
    color: #7f8c8d;
}

#logo {
    width: 150px;
    margin: 0 auto 20px;
    display: block;
}

.receipt-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    position: relative;
    min-height: 500px;
}

.receipt-header {
    text-align: center;
    margin-bottom: 20px;
}

.receipt-header h2 {
    font-size: 32px;
    color: #2d98da;
}

.receipt-header .receipt-date {
    font-size: 16px;
    color: #7f8c8d;
}

.transaction-details p {
    font-size: 18px;
    color: #34495e;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #ecf0f1;
}

.totals {
    margin-top: 20px;
    font-size: 18px;
    color: #34495e;
}

.warranty {
    margin-top: 20px;
    font-size: 18px;
    color: #34495e;
}

.download-container {
    text-align: center;
    margin-top: 50px;
}

.download-btn {
    background-color: #020e07;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.download-btn:hover {
    background-color: #020a06;
}

/* Style for the signature image at the bottom right */
.signature {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#signature {
    width: 150px; /* You can adjust the size */
    height: auto;
}


